#title {
  color: #DAA520;
  font-size: 48px;
  font-family: Verdana,Geneva,sans-serif;
  text-align: center;

}

#body_links {
  font-size: 14px;

}
#page_links {
  float: left;
}
#main_links {
  float: right;

}
#main {
  text-align: center;
  font-family: Verdana,Geneva,sans-serif;
}
#form {
  background-color: #345eba;
  max-width: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  padding: 10px;
  font-family: Verdana,Geneva,sans-serif;

}
#post_body{
  padding: 5px;
  width: 400px;
  height: 150px;
  color: black;
  font-family: Verdana,Geneva,sans-serif;
}
#post_content{
  color: black;
  font-size: 18px;
  font-family: Verdana,Geneva,sans-serif;

}
#post_title {
  color: black;
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana,Geneva,sans-serif;
}
body {
  background-color: #538cc6;
  color: black;
  text-align: center;
  font-size: 18px;
  font-family: Verdana,Geneva,sans-serif;

}

h2 {
  color: black;
  font-family: Verdana,Geneva,sans-serif;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
